.game-page {
  flex-direction: column;
}
.game-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 20px 30px 0;
}
.game-page header img {
  height: 120px;
  cursor: pointer;
}
.game-page .score {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--browgreen);
  color: var(--white);
  border-radius: 20px;
  box-shadow: 0 2px 14px var(--creamy), 0 -2px 14px var(--creamy);
  font-size: min(7vw, 24px);
  padding: min(15px, 2vw);
}
.game-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px 0 70px;
  padding: 0 40px;
}
.game-page .score-to-win {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white);
}
.game-page main .cards-container {
  display: flex;
  gap: clamp(4px, 0.7vw, 4rem);
  flex-wrap: wrap;
  justify-content: center;
}
