:root {
  --yellow: #b7a368;
  --green: #acb768;
  --browgreen: #806e49;
  --white: #fffbe3;
  --creamy: #fff8c8;
}
:root,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
#root {
  display: grid;
  grid-template-rows: 9fr 1fr;
  min-height: 100dvh;
}
