@font-face {
  font-family: "Marhey";
  src: url("../src/assets/Marhey/static/Marhey-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marhey";
  src: url("../src/assets/Marhey/static/Marhey-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Marhey";
  src: url("../src/assets/Marhey/static/Marhey-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Marhey";
  src: url("../src/assets/Marhey/static/Marhey-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Marhey";
  src: url("../src/assets/Marhey/static/Marhey-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
:root {
  --yellow: #b7a368;
  --green: #acb768;
  --browgreen: #806e49;
  --white: #fffbe3;
  --creamy: #fff8c8;
  background-color: #b7a368;
}
:root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
#root {
  display: grid;
  grid-template-rows: 10.5fr 1fr;
  min-height: 100dvh;
  font-family: "Marhey", system-ui, -apple-system, Oxygen, sans-serif;

  position: relative;
}
